@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --cor2 :#0856A1;
    --cor1 : #1579d6;
    --cor3 : #045f0f;
    --cor4 : #4397e6;
    --cor5 : #22b332;
    --fonte-padrao: arial, Helvetica, Sans-serif;
    --fonte-destaque: 'Passion One';
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fonte-padrao);
}

header {
    text-align: center;
    margin-bottom:4vh;
    background: linear-gradient(to right, #4dd35d, var(--cor5));
}

header > h1 {
    color: var(--cor1);
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 10px;
}

header > p {
    color: var(--cor3);
    font-weight: bold;
    font-size: 1.5em;
}

nav {
    text-align: left;
    padding-top: 4vh;
}

nav > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor4);
    color: white;
    border-radius: 3px;
    transition-duration: 1s;
}


